<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<context:component-scan base-package="com.husrev" />

<!-- 		Asagidaki alanlari xml ile yaptigimizda uygulardik. Simdi ise annatation'lar ile yapiyoruz. -->

<!-- 	<bean id="beanKitap" class="com.husrev.Kitap"> -->
<!-- 		<property name="eserAdi" value="Sprign Framework"></property> -->
<!-- 		<property name="eserISBN" value="65468464868"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="beanYazar" class="com.husrev.Yazar"> -->
<!-- 		<property name="adi" value="Husrev" /> -->
<!-- 		<property name="soyadi" value="Asici" /> -->
<!-- 		<property name="kitap" value="#{beanKitap}" /> -->
<!-- 		<property name="kitapAdi" value="#{beanKitap.eserAdi}" /> -->
<!-- 	</bean> -->

</beans>
