<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="beanKitap" class="com.husrev.Kitap">
		<property name="eserAdi" value="Spring Framework"></property>
		<property name="eserISBN" value="5496512151"></property>
	</bean>

	<bean id="beanYazar" class="com.husrev.Yazar">
		<property name="adi" value="Husrev" />
		<property name="soyadi" value="Asici" />
		<property name="kitap" value="#{beanKitap}" />
		<property name="kitapAdi" value="#{beanKitap.eserAdi}" />
	</bean>
</beans>
