<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="selam" class="com.husrev.Selam">

		<property name="mesaj1" value="Mulla Husrev Asici"></property>

		<property name="mesaj2" value="Suleyman Cicek."></property>

	</bean>

	<bean id="yazar" class="com.husrev.Yazar" parent="selam">

		<!-- <property name="mesaj1" value="Mulla Husrev Asici."></property> -->

		<property name="mesaj3" value="Goktug Bacanli."></property>

	</bean>


</beans>
