<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="ogrenciBean" class="com.husrev.Ogrenci">
		<property name="ogrenciList">
			<list>
				<value>Husrev</value>
				<value>Suleyman</value>
				<value>Goktug</value>
				<value>Cihad</value>

			</list>
		</property>

		<property name="ogrenciSet">
			<set>
				<value>Husrev</value>
				<value>Suleyman</value>
				<value>Goktug</value>
				<value>Cihad</value>
			</set>
		</property>

		<property name="ogrenciMap">
			<map>
				<entry key="1" value="husrev" />
				<entry key="2" value="Suleyman" />
				<entry key="3" value="Goktug" />
				<entry key="4" value="Cihad" />

			</map>
		</property>

		<property name="ogrenciPro">
			<props>
				<prop key="a">husrev</prop>
				<prop key="b">Suleyman</prop>
				<prop key="c">Goktug</prop>
				<prop key="d">Cihad</prop>

			</props>
		</property>
	</bean>
</beans>
