<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="bizimMarket" class="com.husrev.Spring_Demo.BizimMarket">
	<constructor-arg value="çetin market"></constructor-arg>
	<constructor-arg value="1000"></constructor-arg>
	</bean>
</beans>
