<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="kaynakBean" class="com.husrev.Kaynak" />

	<bean id="listelerBean" class="com.husrev.Listeler">
	<property name="mapElemani"
	value="#{kaynakBean.map['Adnan Aydemir']}" />
	<property name="listElemani" value="#{kaynakBean.list[1]}" />
	</bean>

	<bean id="regExKontrolBean" class="com.husrev.RegExKontrol">
	<property name="regEx"
	value="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*
	 @[_A-Za-z0-9-]+(\.[_A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

	<property name="regExSonuc"
	value="#{(kaynakBean.map['Adnan Aydemir'] matches
	'regExKontrol.regEx'
	)== true ? 'UYGUN.' : 'UYGUN DEGİL' }" />

	</bean>

</beans>
