<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="egitmen" class="com.Repeat.egitmenler.JavaEgitmen">
	<constructor-arg ref="egitmenServisi"></constructor-arg>
	</bean>
	
   <bean id="egitmenServisi" class="com.Repeat.egitmen.servisleri.EgitmenServisleriImpl"/> 

</beans>
